/* body {
  background-image: url(./beautiful-color-gradients-backgrounds-078-cochiti-lake.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
} */

/* body {
  background-image: url(./coolHue-FAD7A1-E96D71.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}  */

