/* body {
  background-image: url(./beautiful-color-gradients-backgrounds-078-cochiti-lake.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}  */
/* html {
  background-image: url(./beautiful-color-gradients-backgrounds-078-cochiti-lake.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
} */
