.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-my-profile-header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20%;
}

.App-my-profile-text {
  display: inline-flex;
}

.App-upload {
  display: inline-flex;
}

.App-uploadcare--widget__button {
  margin-left: 60%;
}
