@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.uploadcare--widget__button_type_open {
  cursor: pointer;
}

.uploadcare--widget__button, .uploadcare--widget__button:hover {
	border-radius: 100;
  font-weight: 500;
  padding: 5px 10px;
  min-width: 20px;
  font-size: 15px;
  line-height: 20px;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  transition: all 0.5s !important;
}

.uploadcare--widget__button:hover {
  box-shadow: inset 150px 0px 0px #2F3B47;
}

.uploadcare--link.uploadcare--widget__file-name {
  visibility: hidden;
}

.uploadcare--widget__file-size {
  visibility: hidden;
}

.uploadcare--widget__button.uploadcare--widget__button_type_remove {
  margin-left: 50%;
}
