@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

/* *{
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.uploadcare--widget__button, .uploadcare--widget__button:hover {
	/* padding: 20px; */
	background-color: #fecb05;
	border-radius: 0;
	font-family: Sans-serif;
	font-weight: 800;
}

.uploadcare--widget__button:hover {
	background-color: #000;
}
